<ion-header>
    <ion-navbar text-center>
        <ion-title>
            {{directoryListing?.directoryName}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-list no-lines>
        <button ion-item color="background" *ngFor="let directory of directoryListing?.directories" ion-long-press [interval]="400"
            (click)="browseLocation(directory.path)">
            <ion-icon name="folder-open"></ion-icon>
            {{ directory?.name }}
        </button>
        <button ion-item color="background" *ngFor="let file of directoryListing?.files" ion-long-press [interval]="400">
            <ion-icon name="musical-note"></ion-icon>
            {{ file?.name }}
        </button>
    </ion-list>
</ion-content>