<ion-header>
    <ion-searchbar *ngIf="searching"></ion-searchbar>
</ion-header>
<ion-content padding>
    <ion-fab bottom right *ngIf="selectMany">
        <button ion-fab mini (click)="selectManyMenuMore()">
            <ion-icon name="more"></ion-icon>
        </button>
        <button ion-fab mini color="danger" (click)="selectManyMenuBack()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
    </ion-fab>

    <ion-toolbar *ngIf="searching"></ion-toolbar>
    <ion-list no-lines [virtualScroll]="playlistFiles">

        <button *virtualItem="let file" ion-item color="background" [ngClass]="{ 'current-item' : playerInfo?.path == file.path, 'selected-item' : file.selected }"
            ion-long-press [interval]="400" (onPressStart)="playlistFileLongClick(file, $event)" (click)="playlistFileClick(file)">
            <ion-grid class="playlist-item">
                <ion-row>
                    <ion-col col-sm-6 push-sm-6 col-xs-12>
                        <ion-badge padding-1 *ngIf="file.queueId" item-end>{{file.queueId}}</ion-badge>
                        {{ file.title }}
                    </ion-col>
                    <ion-col col-sm-6 pull-sm-6 col-xs-12 text-right text-sm-left>
                        <span class="artist">
                            {{ file.artist }}
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </button>

    </ion-list>

</ion-content>

<ion-footer>
    <ion-range [(ngModel)]="playerInfo.currentPosition" min="0" max="{{playerInfo?.duration}}" pin="true" color="grey" pin="false"
        class="slider" (ionChange)="timeSliderChange($event)">
        <ion-icon range-left small name="volume-low"></ion-icon>
        <ion-icon range-right name="volume-high"></ion-icon>
    </ion-range>

    <ion-grid padding-left padding-right class="player-info-grid">
        <ion-row>
            <ion-col col-9>{{playerInfo?.artist}}</ion-col>
            <ion-col col-3 text-right>{{playerInfo?.currentPositionString}}/{{playerInfo?.durationString}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9>{{playerInfo?.track}}</ion-col>
            <ion-col col-3 text-right>{{playerInfo?.currentPlaylist?.name}}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid text-center class="player-btn-grid">
        <ion-row class="player-btn-row">
            <ion-col col>
                <button (click)="openMenu()" ion-button icon-only round>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button (click)="previousFile()" ion-button icon-only round>
                    <ion-icon name="skip-backward"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-3>
                <button (click)="playPause()" ion-button icon-only round large class="btn-play">
                    <ion-icon *ngIf="!playerInfo?.isPaused" name="pause"></ion-icon>
                    <ion-icon *ngIf="playerInfo?.isPaused" name="play"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button (click)="nextFile()" ion-button icon-only round>
                    <ion-icon name="skip-forward"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button (click)="searching = !searching" ion-button icon-only round>
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>






    <ion-range [(ngModel)]="playerInfo.volume" min="0" max="15" pin="false" color="primary" class="slider" (ionChange)="volumeSliderChange($event)">
        <ion-icon range-left small name="volume-low"></ion-icon>
        <ion-icon range-right name="volume-high"></ion-icon>
    </ion-range>

</ion-footer>