<ion-content padding>

    <ion-list no-lines [virtualScroll]="playlistFiles">
        <ion-item-sliding *virtualItem="let file">
            <ion-item color="background">

                <ion-grid class="playlist-item">
                    <ion-row>
                        <ion-col col-sm-6 push-sm-6 col-xs-12>
                            {{ file.title }}
                        </ion-col>
                        <ion-col col-sm-6 pull-sm-6 col-xs-12 text-right text-sm-left>
                            <span class="artist">
                                {{ file.artist }}
                            </span>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary">
                    <ion-icon name="ios-more"></ion-icon>
                    More
                </button>
                <button ion-button color="danger">
                    <ion-icon name="star"></ion-icon>
                    Queue
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


</ion-content>

<ion-footer>
    <ion-range [(ngModel)]="playerInfo.currentPosition" min="0" max="{{playerInfo?.duration}}" pin="true" color="grey" pin="false"
        class="slider" (ionChange)="timeSliderChange($event)">
        <ion-icon range-left small name="volume-low"></ion-icon>
        <ion-icon range-right name="volume-high"></ion-icon>
    </ion-range>

    <ion-grid padding-left padding-right class="player-info-grid">
        <ion-row>
            <ion-col col-9>{{playerInfo?.artist}}</ion-col>
            <ion-col col-3 text-right>{{playerInfo?.currentPositionString}}/{{playerInfo?.durationString}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9>{{playerInfo?.track}}</ion-col>
            <ion-col col-3 text-right>{{currentPlaylist?.name}}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid text-center class="player-btn-grid">
        <ion-row class="player-btn-row">
            <ion-col col>
                <button ion-button icon-only round>
                    <ion-icon name="shuffle"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button (click)="previousFile()" ion-button icon-only round>
                    <ion-icon name="skip-backward"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-3>
                <button (click)="playPause()" ion-button icon-only round large class="btn-play">
                    <ion-icon *ngIf="!playerInfo?.isPaused" name="pause"></ion-icon>
                    <ion-icon *ngIf="playerInfo?.isPaused" name="play"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button (click)="nextFile()" ion-button icon-only round>
                    <ion-icon name="skip-forward"></ion-icon>
                </button>
            </ion-col>
            <ion-col col>
                <button ion-button icon-only round>
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>






    <ion-range [(ngModel)]="playerInfo.volume" min="0" max="15" pin="false" color="primary" class="slider" (click)="opa($event)"
        (ionChange)="volumeSliderChange($event)">
        <ion-icon range-left small name="volume-low"></ion-icon>
        <ion-icon range-right name="volume-high"></ion-icon>
    </ion-range>

</ion-footer>